<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"[routerLink] ="['/home']">Agents Of Change</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Profile</a></li>
        <li><a [routerLink] ="['/campaignList']">Campaigns</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logMeOutPls()">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<header>
  <p> Hello, {{ currentUser.name }}. </p>
  <p *ngIf="logoutError" class="error">
    {{ logoutError }}
  </p>
</header>

<h2> Campaigns List </h2>

<p *ngIf="campaignListError" class="error">
  {{ campaignListError }}
</p>

<button *ngIf="!isShowingForm" (click)="showCampaignForm()">
  Add Campaign
</button>

<div *ngIf="isShowingForm">
  <h3> Add a New Campaign </h3>

  <p *ngIf="saveError" class="error">
    {{ saveError }}
  </p>

  <form (ngSubmit)="saveNewCampaign()">
    <label for="campaign-title-input"> Campaign Title </label>
    <input  id="campaign-title-input" type="text" placeholder="Your Campaign Title"
        [(ngModel)]="campaignTitle" name="campaignName">
    <br>

    <label for="campaign-summary-input"> Summary </label>
    <input  id="campaign-summary-input" type="text"
        [(ngModel)]="campaignSummary" name="campaignSummary">
    <br>

    <label for="campaign-goal-input"> End Goal </label>
    <input  id="campaign-goal-input" type="text" placeholder="Whats the end goal?"
        [(ngModel)]="campaignGoal" name="campaignGoal">
    <br>

    <!-- <label for="campaign-image-input"> Campaign Picture (optional)</label>
    <input  id="campaign-image-input" type="file" name="campaignimage"
        ng2FileSelect [uploader]="myCoolUploader">
    <br> -->

    <button> Save Campaign </button>
  </form>
</div>

  <ul>
    <li *ngFor="let oneCampaign of campaignArray">
      <h3> {{ oneCampaign.title }} </h3>

      <div class="picture-wrap" [ngStyle]="{ 'background-color': red }">
        <img *ngIf="oneCampaign.image"
            [src]="baseUrl + oneCampaign.image">

        <div class = anyClass>
          <img  *ngIf="!oneCampaign.image" src="/assets/images/horse.svg">
        </div>
      </div>
    </li>
  </ul>
